.logo {
  float: left;
}

.floatRight {
  float: right !important;
}

.login-header {
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.login-form {
  max-width: 300px;
  margin: auto !important;
  padding: 24px 0;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}